{% extends "PointsOfInterest/base.html" %}

{% block title %}Priatelia{% endblock %}

{% block javascript %}
{% endblock %}

{% block header %}
Moji priatelia
{% endblock %}

{% block submenu %}
<div class="menu_div margbot">
	<div class="fltlft">
		<ul id="menu">
			<li><a href="{% url 'POI:find' %}">Vyhľadať priateľa</a></li>
		</ul>
	</div>
</div>
{% endblock %}

{% block content %} 
	<div class="margbot">
		<h4>Obojstranné priateľstvo s:</h4>
			{% for friendship in confirmed %}
				{% if friendship.who = user%}
					<a href="{% url 'POI:user' friendship.fwith %}">{{friendship.fwith}}</a></br>
				{% else %}
					<a href="{% url 'POI:user' friendship.who %}">{{friendship.who}}</a></br>
				{% endif %}
			{% endfor %}
		<h4>Žiadosť o priateľstvo odoslaná:</h4>
			{% for friendship in sentunconf %}
				<a href="{% url 'POI:user' friendship.fwith %}">{{friendship.fwith}}</a></br>
			{% endfor %}
		<h4>Žiadosť o priateľstvo obdržaná od:</h4>
			{% for friendship in rcvtunconf %}
				<a href="{% url 'POI:user' friendship.who %}">{{friendship.who}}</a></br>
			{% endfor %}
  
  </div>
{% endblock %}
