{% extends "PointsOfInterest/base.html" %}

{% block title %}Prihlásenie{% endblock %}

{% block javascript %} {% endblock %}

{% block header %}
Prihlásenie
{% endblock %}

{% block submenu %}
{% if not user.is_authenticated %}
<div class="menu_div margbot">
	<div class="fltlft">
		<ul id="menu">
			<li><a href="{% url 'POI:registration' %}">Registrácia</a></li>
		</ul>
	</div>
</div>
{% endif %}
{% endblock %}

{% block content %} 
<div  class="cntr">
	<div>
	{% if not user.is_authenticated %}
	<div class="tabcenter1">
	<div class="tabcenter2">
	<form action="{% url 'POI:login' %}" method="post">
		{% csrf_token %}
		{{ form.non_field_errors }}
		{{ form.username.errors }}
		{{ form.password.errors }}
		<table class="tabcenter3">
			<tr>
				<th align="right">Login:</th><td>{{ form.username }}</td>
			</tr>
			<tr>
				<th align="right">Heslo:</th><td>{{ form.password }}</td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value=" Prihlásiť "></td>
			</tr>
		</table>
	</form>
	</div>
	</div>
	{% else %}
	Ste prihlásený ako <b>{{user.username}}</b>
	{% endif %}
	</div>
</div>


{% endblock %}
