{% extends "PointsOfInterest/base.html" %}

{% block title %}Moje body{% endblock %}

{% block javascript %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC5vyrqbcCQRVny8dQP5KhGq3W96kkfcU&sensor=false"></script>
	<script type="text/javascript">
		function initialize()
		{
		{% for place in places %}
      var mapOptions{{forloop.counter}} = {
			center: new google.maps.LatLng({{place.latitude}}, {{place.longitude}}),
			zoom: 14,
			mapTypeId: google.maps.MapTypeId.HYBRID,
			scrollwheel: false,
			navigationControl: false,
			mapTypeControl: false,
			scaleControl: false,
			draggable: false
        };
        var map{{forloop.counter}} = new google.maps.Map(document.getElementById("map-canvas-{{forloop.counter}}"), mapOptions{{forloop.counter}});
		
		var MarkerOptions{{forloop.counter}} = {
			position: new google.maps.LatLng({{place.latitude}}, {{place.longitude}}),
			map: map{{forloop.counter}},
			title: "{{place.title}} [{{place.latitude}}°, {{place.longitude}}°]"
		};
		var marker{{forloop.counter}} = new google.maps.Marker(MarkerOptions{{forloop.counter}});
		{% endfor %}
		}
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}

{% block submenu %}
<div class="menu_div margbot">
	<div class="fltlft">
		<ul id="menu">
			<li><a href="{% url 'POI:mybigmap' %}" target="blank">AllInOne</a></li>
			<li><a href="{% url 'POI:createpoi' %}">Vytvoriť nový bod</a></li>
		</ul>
	</div>
</div>
{% endblock %}

{% block header %}
Moje body
{% endblock %}

{%block content%}
	{% if places %}
	{% for place in places %}
  	<div class="place_container margbot">
		<div class="place_title"><a href="{% url 'POI:place' place.id %}">{{place.title}}</a></div>
  	<div id="map-canvas-{{forloop.counter}}" class="place_map"></div>
    </div>
	{% endfor %}
	{% else %}
	Nemáte vytvorené žiadne body.
	{% endif %}
{% endblock %}
