{% extends "PointsOfInterest/base.html" %}

{% block title %}Bod {{place.title}}{% endblock %}

{% block javascript %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC5vyrqbcCQRVny8dQP5KhGq3W96kkfcU&sensor=false"></script>
	<script type="text/javascript">

		function initialize()
		{
        var mapOptions = {
          center: new google.maps.LatLng({{place.latitude}}, {{place.longitude}}),
          zoom: 14,
          mapTypeId: google.maps.MapTypeId.HYBRID
        };
        var map = new google.maps.Map(document.getElementById("map-canvas-01"), mapOptions);
		
		var MarkerOptions = {
			position: new google.maps.LatLng({{place.latitude}}, {{place.longitude}}),
			map: map,
			title: "{{place.title}} [{{place.latitude}}°, {{place.longitude}}°]"
		};
		var marker = new google.maps.Marker(MarkerOptions);
		}

      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}

{% block header %}
Bod {{place.title}}
{% endblock %}

{% block submenu %}
{% if user = place.userid %}
<div class="menu_div margbot">
	<div class="fltlft">
		<ul id="menu">
			<li><a href="{% url 'POI:poiedit' place.id %}">Upraviť bod</a></li>
			<li><a href="{% url 'POI:poidel' place.id %}">Zmazať bod</a></li>
		</ul>
	</div>
</div>
{% endif %}
{% endblock %}

{% block content %} 
	<div class="margbot">
		Niečo o tomto bode:</br>
		&quot;<b>{{place.description}}</b>&quot;
		</br>
  	{% if place.dateModified %}
  	Bod bol vytvorený {{place.dateCreated}}, naposledy upravený {{place.dateModified}}.
  	{% else %}
  	Bod bol vytvorený {{place.dateCreated}}.
  	{% endif %}
  	</br>
  	{% if user = place.userid %}
  	Tento bod je Váš
  	{% else %}
  	Tento bod vytvoril používateľ <b>{{place.userid.username}}</b>
  	{% endif %}
  	{% if place.category = 'p' %}
  	a nezdieľa sa s nikým, je súkromný.
  	{% elif place.category = 'f' %}
  	a zdieľa  sa s priateľmi.
  	{% else %}
  	a je verejný.
  	{% endif %}
  
  </div>
	<div class="margbot">
		<div id="map-canvas-01" class="place_map"></div>
  </div>

	<div>
	<h4>Komentáre</h4>
	</div>
	{% if user.is_authenticated %}
	<div class="margbot">
		<form action="{% url 'POI:place' place.id %}" method="post">{% csrf_token %}
			{{ form.non_field_errors }}
			<div class="fieldWrapper">
				<label for="id_commentary">Pridat komentar:</label></div>
			<div>
				{{ form.commentary.errors }}
				{{ form.commentary }}
			</div>
			<div style="padding-top: 5px;"><input type="submit" value="Uložiť"/></div>
		</form>
	</div>
	{% else %}
		<div class="margbot">
		Neprihlásení používatelia nemôžu pridávať komentáre!
		</div>
	{% endif %}
	{% if comments %}
	{% for comment in comments %}
	<div class="comment">
		<div class="fltlft" >Používateľ <b>{{comment.userid.username}}</b> dňa {{comment.dateCreated}} napísal:</div>
		{% if user = comment.userid or user = comment.poiid.userid %}
			<div class="fltrt">
				<form action="{% url 'POI:delcomm' comment.id %}" method="post">{% csrf_token %}
				<input type="submit" value="Zmazať komentár"/>
				</form>
			</div>
		{% endif %}
		<div class="clearfloat"></div>
		<div>
		&quot;<b>{{comment.commentary}}</b>&quot;
	  </div>
	</div>
	{% endfor %}
	{% else %}
	Zatiaľ neboli pridané žiadne komentáre.
	{% endif %}
	
	<div class="clearfloat"></div>
{% endblock %}
